/* IMPOSTAZIONI GENERALI */
body {
  font-family: "Poppins", sans-serif;
  background-image: url(/assets/img/sfondo.png);
  padding: 12px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 8px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

/* p,
a {
  margin: 8px;
} */

.margin-y {
  margin-bottom: 12px;
}

/* HEADER */
header {
  min-height: 100px;
  background-color: #2e6a85;
  text-align: center;
  padding: 16px;
  box-shadow: 0px 5px 8px rgb(98, 104, 107);
}

header p {
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

/* MAIN */
main {
  background-color: white;
  padding: 16px;
}

main ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 16px;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 16px;
}
ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}
ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

.text-grey {
  color: rgb(153, 149, 149);
}

.fa-pen-square,
.fa-clock {
  margin-right: 4px;
}

.text-purple {
  color: #9d3b77;
  font-weight: bold;
}

.text-light-blue {
  color: rgb(21, 131, 210);
}

.text-pink {
  color: rgb(243, 8, 235);
}

.sections {
  background-color: rgb(211, 213, 214);
  border-radius: 5px;
  border: 1px solid grey;
}
/* ELEMENTI NEL MAIN - ARTICLE */
iframe {
  border-radius: 12px;
  width: 100%;
  height: 30%;
}
/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */
aside {
  padding: 16px;
}
/* FOOTER */
footer {
  background-color: #225364;
  color: white;
  text-align: center;
  padding: 16px;
  box-shadow: 0px 5px 8px rgb(98, 104, 107);
}
